.cardContainer {
  width: 20%;
  padding: 1em;
  background-color: #ffeec2;
  box-sizing: border-box;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: 3px 1px 5px 2px lightgrey;
}

.cardImg {
  width: 100%;
}

.chickenInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.chickenInfoDetail {
  margin: 0;
  font-weight: bold;
}

.like {
  display: flex;
  align-items: center;
}

.likedButton {
  background-color: unset;
  border: none;
  display: flex;
  align-items: center;
}

.likedIcon {
  font-size: large;
  margin-right: 5px;
  color: orangered;
  height: 100%;
}