.main {
  background: #FFF5E2;
  padding: 2rem;
}

.detail {
  position: relative;
  width: 50%;
  min-width: 700px;
  min-height: 30rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #FFFBEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rank {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #2f2117;
  width: max-content;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  margin: 1rem;
}

.titleBox {
  display: flex;
  justify-content: center;
}

.chickenName {
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  font-weight: bold;
  position: relative;
  text-align: center;
  color: #664730;
  width: max-content;
  padding: 0 2.2rem;
}

.quoteIconLeft, .quoteIconRight {
  position: absolute;
  font-size: 0.6em;
}

.quoteIconLeft {
  top: 0;
  left: 0;
}

.quoteIconRight {
  right: 0;
  bottom: 0;
}

.detailData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.chickenImageBox {
  flex: 0.6;
  width: 90%;
  height: 90%;
}

.chickenImage {
  width: 100%;
  height: 100%;
}

.chickenData {
  margin-left: 2em;
}

.brand, .price {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 32px;
  color: #664730;
  margin: 0;
}

.spicyLevelBox, .likedBox{
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.likedBox {
  cursor: pointer;
}

.heart {
  width: 2rem;
}

.count {
  margin: 0 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: #664730;;
}

.hr {
  border: 2px solid #FFDE8A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.04deg);
}

.review {
  font-size: 38px;
  margin-top: 0;
  margin-left: 10px;
  color: #C19057;
}

.writerInfoBox{
  margin: 1rem 1rem 0;
}

.writerInfo {
  width: 12rem;
  height: 2.5rem;
  background-color: #FFFBEC;
  font-size: 15px;
  border-radius: 0.5em;
  border: none;
  margin-right: 1em;
  padding-left: 8px;
  box-shadow: 1px 1px 1px 0 darkgray;
}

.writerInfo:focus {
  outline: none;
}

.reviewInputBox{
  display: flex;
  align-items: center;
}

.reviewInput {
  flex: 0.95;
  height: 50px;
  margin: 1em;
  padding: 10px;
  background-color: #FFFBEC;
  border: 2px solid #000000;
  border-radius: 0.5em;
  box-sizing: border-box;
}

.registerButton {
  flex: 0.05;
  height: 50px;
  margin: 1em;
  background-color: rgba(255, 194, 108, 0.79);
  border: 2px solid #000000;
  border-radius: 30px;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.registerButton:hover {
  background-color: rgba(255, 215, 158, 0.86);
}

.contentBox {
  background: #FFFBEC;
  border-radius: 1.8rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}

.content {
  font-size: 1.1em;
}

.contentData {
  width: 15%;
  min-width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentIcon{
  font-size: 1.8em;
  cursor: pointer;
}

.reviewHeart {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}