/*
.sortBy{
    font-size: 13px;
    float: right;
    position: relative;
    right:1%;
    top: 2%;
    width: 120px;
    height: 35px;
    background: rgb(235, 171, 41);
    border: 2px solid #000000;
    cursor: pointer;
  }
 */

.mainSlider {
    height: 220px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.chicken {
    margin-top: 5rem;
}

.chickenBox {
    height: 220px;
    width: 100%;
    background-color: #FFF5E2;
    box-sizing: border-box;
}

.chickenContainer {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFBEC;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1em;
    flex-wrap: wrap;
}

.weeklyIconBox {
    text-align: center;
    margin: auto 5px;
    flex: 0.2;
}

.weeklyIcon {
    font-size: 4em;
}

.weeklyTitle{
    font-size: 1.2em;
    font-weight: bold;
}

.weeklyImageBox{
    flex: 0.2;
    margin: 1rem;
}

.weeklyDescBox{
    flex: 0.6;
    margin: 1rem;
}

.weeklyChickenName{
    margin-top: 0;
}

.weeklyDesc {
    font-size: 1.5em;
    margin: 0;
}

#firstChicken {
    width: 30%;
}