.searchBox {
  background: #FFF5E2;
  padding: 2rem;
}

.itemSlider {
  max-width: 70vw;
  margin: auto;
}

.slider {
  max-width: 70vw;
  margin: 0 auto;
}

.sliderButton {
  min-width: 200px;
  max-width: 270px;
  width: 80%;
  height: 17rem;
  padding: 1.5em;
  margin: 1em;
  background-color: #FFEEC2;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.sliderButton.spicy0 {
  background-color: #ffeec2;
}

.sliderButton.spicy1 {
  background-color: #FFDEB8;
}

.sliderButton.spicy2 {
  background-color: #FCAB7D;
}

.sliderButton.spicy3 {
  background-color: #F39E7A;
}

.sliderButton.spicy4 {
  background-color: #FC8A4A;
}

.sliderButton:hover {
  transform: scale(1.02);
  box-shadow: 3px 1px 5px 2px lightgrey;
}

.imgBox {
  width: 100%;
  height: 100%;
  max-height: 130px;
  margin: auto;
}

.infoBox {
  width: 100%;
  border: 1px dashed black;
  margin: 1em auto 0;
}

.sliderInfo {
  list-style: none;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  color: #664730;
  font-size: 30px;
}

.slick-slider{
  text-align: center;
}