.searchBox {
  background: #FFF5E2;
  min-height: 100vh;
  padding: 2rem;
}

.itemSlider {
  max-width: 70vw;
  margin: auto;
}

.slider {
  max-width: 70vw;
  margin: 0 auto;
}

.sliderButton {
  padding: 1.5em;
  margin: 1em;
  background-color: #FFEEC2;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.sliderButton:hover {
  transform: scale(1.02);
  box-shadow: 3px 1px 5px 2px lightgrey;
}

.imgBox {
  width: 250px;
  height: 150px;
  margin: auto;
}

.infoBox {
  width: 250px;
  height: 110px;
  border: 1px dashed;
  margin: 20px auto 0;
}

.sliderInfo {
  list-style: none;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  padding: 0;
}