/* Root */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #FFF5E2;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C19057;
  z-index: 1;
}

.homeButton {
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.homeButton:hover {
  transform: scale(1.02);
}

.home {
  font-family: 'Courier New', Courier, monospace;
  color: #664730;
  padding-left: 3rem;
}

.searchBar {
  position: relative;
  width: 30%;
  height: 45px;
  outline: none;
}

.searchInput {
  width: 100%;
  height: 100%;
  font-size: 1em;
  outline: none;
  border: 2px solid black;
  background-color: white;
  box-sizing: border-box;
  padding: 0 5px;
  border-radius: 0.7em;
}

.searchButton {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 10px;
  background-color: unset;
  border: none;
  cursor: pointer;
}

.searchImage {
  width: 1.8rem;
}

.chickenUploadButton {
  height: 100%;
  padding-right: 3rem;
  background-color: unset;
  border: none;
  cursor: pointer;
  display: flex;
  transition: all 0.5s;
}

.chickenUploadButton:hover {
  transform: scale(1.02);
}

.speechBubble {
  position: relative;
  height: 100%;
}

.buttonContent {
  position: absolute;
  top: 0.4em;
  left: 0.7em;
  color: #664730;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#uploadChickenLink {
  float: right;
  border: none;
  width: 80px;
  height: 80px;
  cursor: pointer;
  padding: 0;
}

/* Footer */

.footer {
  display: flex;
  align-items: center;
  padding: 0 2em;
  background-color: #C19057;
  user-select: none;
}

.footerTitle {
  margin-right: 1em;
  color: #ffeec2;
  font-family: 'Courier New', Courier, monospace;
}

.members {
  display: flex;
  list-style: none;
  padding: 0;
}

.member {
  margin-right: 1em;
  color: #ffeec2;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

/* Chicken Card */

.cardContainer {
  width: 25%;
  min-width: 200px;
  padding: 1em;
  background-color: #ffeec2;
  box-sizing: border-box;
  border-radius: 13px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

.cardContainer:hover {
  transform: scale(1.02);
  box-shadow: 3px 1px 5px 2px lightgrey;
}

.cardImg {
  width: 100%;
}

.chickenInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.chickenInfoDetail {
  margin: 0;
  font-weight: bold;
}

.like {
  display: flex;
  align-items: center;
}

.likedButton {
  background-color: unset;
  border: none;
  display: flex;
  align-items: center;
}

.likedIcon {
  font-size: large;
  margin-right: 5px;
  color: orangered;
  height: 100%;
}