.header{
    position: fixed;
    top : 0;
    width : 100%;
    background-color: #C19057;
    display:inline-block;
    float:right;
}
.header>h1{
    display:inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: #664730;
    position: relative;
    left: 2%;
}
.header>nav{
    display:inline-block;
    width: 500px;
    height: 40px;
    position:relative;
    left: 15%;
}
.header>nav>input{
    width: 75%;
    height: 100%;
    line-height: 100%;
    font-size: 1em;
    outline: none;
    border: 1px solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
    box-sizing: border-box;
    display: inline;
    padding-left: 5px;
    border-radius: 7px 0px 0px 7px / 7px 0px 0px 7px;
}
.header>nav>button{
    width: 20%;
    height: 100%;
    outline: none;
    border: 1px solid;
    border-left-style: none;
    border-width: 2px;
    border-color: black;
    background-color: white;
    box-sizing: border-box;
    display: inline;
    border-radius: 0px 7px 7px 0px / 0px 7px 7px 0px;
    position: relative;
    right : 5px;
}
.header>div{
    display: inline;
    float: right;
}
.header>img{
    float:right;
}